body{
    background-color: #F0EDE5; 
    font-family: 'Open Sans', sans-serif;
}

.bg-image {
  background-image: url(../images/code_image.jpg); 
  background-size: 100%; 
  background-repeat: no-repeat;
}

/* Position text in the middle of the page/image */
.bg-text {
  box-shadow: black; 
  background-color: rgba(0, 0, 0, 0.35); 
  font-weight: bold; 
  width:50%; 
  margin: 0 auto 0 auto
}

.bg-video-1 {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%) scale(0.45);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}
.bg-video-2 {
  position: absolute;
  top: 60%;
  left: 82%;
  transform: translate(-50%, -50%) scale(0.60);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}
.bg-video-3 {
  position: absolute;
  top: 80%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
}

.github-button{
  background-image: url("../images/github_icon.jpg");
  background-size: 100%;
  background-position: center;
}

.twitter-button{
  background-image: url("../images/twitter_icon.png");
  background-size: 90%;
  background-position: center;
  color:black;
}

.facebook-button{
  background-image: url("../images/facebook_icon.png");
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  color:black;
}

.linkedin-button{
  background-image: url("../images/linkedin_icon.png");
  background-size: 120%;
  background-position: right 100% bottom 45%;
  background-repeat: no-repeat;
  color:black;
}

.video-50-zoom{
  transform: scale(1.5);
}

/*Style for desktop and wider screen devices*/
.jumbotron-sized{
  width:60%;
  margin: 1% auto 0 auto;
}

.blank-space{
  padding-bottom: 3.35%;
}

/*Styling for mobile devices or landscape ipads*/
@media (max-width:767px) {
.jumbotron-sized{
    width:90%;
    margin: 2% auto 0 auto;
  }

  .blank-space{
    padding-bottom: 13.5%;
  }

  .bg-text {
    box-shadow: black; 
    background-color: rgba(0, 0, 0, 0.35); 
    font-weight: bold; 
    width:100%; 
    margin: 0 auto 0 auto;
  }

  .bg-image{
    background-size: 170%;
    height: 22.6875rem;
  }
}